/* You can add global styles to this file, and also import other style files */
.Header{
    display: block;
    color: aquamarine;
    background-color: black;
}
.Footer{
 display: block;
 color: aqua;
 background-color: black;
}